$btn-text: 700 16px 'Open Sans', sans-serif;
$lite: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

h1, h2 {
  letter-spacing: 0.05em;
}

h2 {
  font-size: 36px;
  font-weight: $semi-bold;
  color: #211710;
}